* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./casino777.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 50px;
    background-color: #58848f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #eb0b0b;
}

#paper {
    background-color: #8dcf08;
}

#scissors {
    background-color: #0992f5;
    width: 73px;
}


p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: rgb(10, 14, 240)
}

.machine-score span {
    color: rgb(209, 209, 20);
}